html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.frmAddChild {
    height: 4%;
}
.wrap {
    height: 96%;
    overflow: auto;
}
.selected {
    background: #c8e4f8;
}
.tree ul {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    position: relative;
    white-space: nowrap;
}
.tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}
/*connectors*/
 .tree li::before, .tree li::after {
    content:'';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}
.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}
/*removes left-right connectors from elements without any siblings*/
 .tree li:only-child::after, .tree li:only-child::before {
    display: none;
}
/*Removes space from the top of single children*/
 .tree li:only-child {
    padding-top: 0;
}
/*Removes left connector from first child and right connector from last child*/
 .tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}
/*Adds back the vertical connector to the last nodes*/
 .tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
/*Adds downward connectors from parents*/
 .tree ul ul::before {
    content:'';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}
.tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.json {
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(12, 16, 33, 0.9);
    padding: 15px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.json.expanded {
    top: 30px;
    left: 0;
}
.json-content {
    overflow: auto;
    height: 96%;
    width: 100%;
}
.json pre {
    color: #f8f8f8;
}
.json .key {
    color: #999;
}
.json .string {
    color: #fff;
}
.hide {
    display: none;
}
